[submodule "countdown"]
	path = countdown
	url = https://github.com/KosenXmasCTF/countdown
[submodule "advanced_carsar"]
	path = advanced_carsar
	url = https://github.com/KosenXmasCTF/advanced_carsar
