[submodule "RGB"]
	path = RGB
	url = https://github.com/KosenXmasCTF/RGB
[submodule "pinzoro"]
	path = pinzoro
	url = https://github.com/KosenXmasCTF/pinzoro
[submodule "countdown"]
	path = countdown
	url = https://github.com/KosenXmasCTF/countdown
[submodule "what_is_include"]
	path = what_is_include
	url = https://github.com/KosenXmasCTF/what_is_include
[submodule "easy_heap"]
	path = easy_heap
	url = https://github.com/KosenXmasCTF/easy_heap
[submodule "begineers_shell"]
	path = begineers_shell
	url = https://github.com/KosenXmasCTF/begineers_shell.git
[submodule "advanced_carsar"]
	path = advanced_carsar
	url = https://github.com/KosenXmasCTF/advanced_carsar.git
[submodule "your_name"]
	path = your_name
	url = https://github.com/KosenXmasCTF/your_name.git
[submodule "let_us_walk_zip"]
	path = let_us_walk_zip
	url = https://github.com/KosenXmasCTF/let_us_walk_zip.git
